.contactInfo{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.downloadCVBtn{
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #FBD144;
    padding: 12px 0;
    border-radius: 8px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.contactIconContainer{
    padding: 12px 18px;
    border-radius: 8px;
    background-color: #fff;
}

/* Responsiveness (start) */

@media(max-width: 1400px){

}

@media(max-width: 1200px){

}

@media(max-width: 992px){

}

@media(max-width: 768px){
    .downloadCVBtn{
        width: 100%;
    }

    .contactInfo{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 576px){

}

/* Responsiveness (end) */