.experiences{
    display: flex;
    gap: 85px;
    justify-content: center;
}

.experience{
    text-align: center;
}

.experience p:first-of-type{
    font-weight: 500;
}

.experience p:last-of-type{
    font-size: 14px;
}

.whiteExperience{
    color: #fff;
}

/* Responsiveness (start) */

@media(max-width: 1400px){

}

@media(max-width: 1200px){

}

@media(max-width: 992px){

}

@media(max-width: 768px){

}

@media(max-width: 576px){
  .experiences{
    flex-direction: column;
    gap: 30px;
  }
}

/* Responsiveness (end) */