.header{
    background-color: #F1F2F4;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 60px;
}

.contactMeBtn{
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #FBD144;
    border-radius: 6px;
    padding: 4px 10px;
}

.darkLightModeIcon{
    width: 40px;
    cursor: pointer;
    align-self: center;
}

.darkNavBar{
    background-color: #171F26 !important;
}
