.header{
    background-color: #F1F2F4;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 60px;
}

.darkLightModeIcon{
    width: 40px;
    cursor: pointer;
    align-self: center;
}

.darkNavBar{
    background-color: #171F26 !important;
}