.mainContent{
    width: 50%;
}

/* Responsiveness (start) */

@media(max-width: 1400px){

}

@media(max-width: 1200px){
  .mainContent{
    width: 60%;
  }
}

@media(max-width: 992px){
  .mainContent{
    width: 80%;
  }
}

@media(max-width: 768px){
  .mainContent{
    width: 100%;
  }
}

@media(max-width: 576px){
  
}

/* Responsiveness (end) */