.portfolioDetailsContent{
    width: 70%;
}

.portfolioDetailsImage{
    width: 100%;
    /* height: 350px; */
    border-radius: 10px;
    object-fit: cover;
}

.portfolioDetailsText{
    font-size: 14px;
    line-height: 1.7;
}

.darkPortfolioDetails, .DarkBackBtn, .darkHomeText{
    color: #fff !important;
}

/* Responsiveness (start) */

@media(max-width: 1400px){

}

@media(max-width: 1200px){
  .portfolioDetailsContent{
    width: 60%;
  }
}

@media(max-width: 992px){
  .portfolioDetailsContent{
    width: 80%;
  }
}

@media(max-width: 768px){
  .portfolioDetailsContent{
    width: 100%;
  }
}

@media(max-width: 576px){
  /* .portfolioDetailsImage{
    height: 280px;
  } */
}

/* Responsiveness (end) */
