.softSkills{
    display: flex;
    flex-wrap: wrap;
}

.softSkill{
    width: 50%;
}

/* Responsiveness (start) */

@media(max-width: 1400px){

}

@media(max-width: 1200px){

}

@media(max-width: 992px){

}

@media(max-width: 768px){

}

@media(max-width: 576px){
  .softSkills{
    flex-wrap: wrap;
  }

  .softSkill{
    width: 100%;
  }
}

/* Responsiveness (end) */